

:root {
  --color-primary: #fff;
  --color-darker: #001028;
  --color-yellow: #f4b400;
  --color-green: #4caf50;
  --color-red: #f44336;
  --color-secondary: #57a2f8;
  --color-ash: #747474;
  --font-family-primary: 'Poppins', sans-serif;
  --font-family-secondary: 'Rubik Mono One', sans-serif;
  --td: 150ms;
  --te: cubic-bezier(0.215, 0.61, 0.355, 1);

      /* Dark Mode Colors */
      --color-primary-dark: #081526;
      --color-ash-dark: #0f9f85;
      --color-darker-dark: #c9d7f2;
      --color-secondary-dark: #152840;
      --color-tertiary-dark: #7b8da6;
}

html {
    scroll-behavior: smooth;
    
  }
  
  * {
    scroll-behavior: inherit;
  }
  
  
  .notes {
    font-size: 0.8rem;
    line-height: 1.8;
  }
  
  .notes article .title {
    font-size: 3rem;
  }
  
  /* .notes article section {
    background-color: inherit;
  } */
  
  .notes article section > * {
    background-color: var(--color-primary);
    margin-bottom: 40px;
    padding: 10x;
  }
  
  .notes article section header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 3.5rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
    padding: 0;
    position: -webkit-sticky;
    position: sticky;
  }
  
  .notes article section header > * {
    font-size: inherit;
  }
  
  .notes article section > header {
    border-bottom: 2px solid var(--color-darker);
    font-size: 1.15rem;
    top: 0rem;
    z-index: 6;
    line-height: 1.3;

  }
  
  .notes article section section:target {
    scroll-margin-top: 3rem;
  }
  
  .notes article section section > header {
    border-bottom: 1px solid var(--color-darker);
    font-size: 1.1rem;
    top: 3.5rem;
    z-index: 5;
    line-height: 1.3;
  }
  
  .notes article section section section:target {
    scroll-margin-top: 6rem;
  }
  
  .notes article section section section > header {
    border-bottom: 1px dotted var(--color-darker);
    font-size: 1rem;
    top: 6.4rem;
    z-index: 4;
    line-height: 1.3;
  }

  #top {
    background-color: var(--color-primary);
    margin: 0;
    padding: 0;
  }

  .notes h2 {
    margin: 0;
    padding: 0;
  }

  .notes header a{
    color: var(--color-darker);
    text-decoration: none;
  }

  .outline ol li {
    margin: 5px 0;
  }

  .outline ol li a{
    color: var(--color-primary);
  }


/*                    new outline                   */


.outline2 input[name^=control], .contents {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0 10px;
  border: 0;
}

.outline2 input[id^=show]:checked + label[for^=show] ~ .contents {
  position: static !important;
  clip: auto;
  height: auto;
  width: auto;
  overflow: aut
}



.outline2 .contents {
  transition: 0.2s ease-in;
  opacity: 0;
  background-color: var(--color-secondary);
  color: var(--color-darker);
  border-radius: 7px;
  line-height: 2;
}

.outline2 .contents a{
  color: var(--color-darker);
}

.outline2 label {
  display: inline-block;
  width: 150px;
  padding: 10px;
  text-align: center;
  border-radius: 7px;
  z-index: 10;
}
.outline2 label[for^=show] {
  background: var(--color-darker);
  color: #ddd;
  font-weight: 600;
}
.outline2 input[id^=show]:checked + label[for^=show] {
  display: none;
}
[for^=show]:checked ~ input[id^=show]:checked + label[for^=show] {
  display: none;
}
.outline2 input[id^=show]:checked + label[for^=show] ~ .contents {
  margin-top: 10px;
  opacity: 1;
}
.outline2 label[for^=hide] {
  background: var(--color-darker);
  color: #fff ;
  display: none;
  font-weight: 600;
}
.outline2 input[id^=show]:checked ~ label[for^=hide] {
  display: inline-block;
  width: 150px;
}
.outline2 label:hover {
  cursor: pointer;
  background-color: var(--color-secondary);
  color: var(--color-darker);
}
.outline2 input[id^=show]:focus + label {
  background: orange;
}
.outline2 input[id^=hide]:focus + label {
  background: var(--color-secondary);
}


/*                end of new outline               */
figcaption {
  font-size: .8rem;
}

.tips-card {
  border: 1px solid var(--color-darker);
  padding: .5rem 1rem;
}

.tips-card-subtitle {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: .8rem;
  font-weight: 600;
  text-transform: uppercase;
}
.tips-card-title {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 19px;
  line-height: 19px;
  font-weight: 600;
}
.tips-card-content {
  margin: 0;
  font-size: 13px;
  line-height: 15px;
  font-weight: 400;
}

.tips-card ul {
  list-style-type: '◾'; 
}

.tips-card ul li{
  padding-left: 4px;
}

.drugs-list {
  list-style-type: '💊'; 
}

.author-flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.author-flex img {
  width: 2rem;
  aspect-ratio: 1;
  border-radius: 50%;
  display: block;
}

.author-img {
  width: 2rem;
  height: 2rem;
  background-color: var(--color-secondary);
  border-radius: 50%;
}

.author-flex .name {
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1;
  margin: 0;
}

.author-flex .updated {
  font-size: 0.6875rem;
  opacity: 0.5;
  font-style: italic;
  margin-top: .25rem;
}

.contact {
  font-size: 0.8rem;
}

.contact a{
  text-decoration: none;
  color: var(--color-green);
}

.msg {
  font-style: normal;
}

.msg a{
  font-style: normal;
}


@media (min-width: 700px) {
figure img {
    width: 60%;
    display: block;
    margin: auto;
    height: auto;
  }

}

/* tables */




.note-table {
  border-collapse: collapse;
  width: 100%;
  border: 2px solid var(--color-ash);
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
}


.note-table th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}
.note-table th {
  background-color: #f2f2f2;
}
 

@media (max-width:600px) {
  th, td {
    padding: 4px;
    font-size: 0.7rem;
  }
}


/* Style for image container */
.image-container {
  display: inline-block;
  width: 50%;
  height: auto;
  margin: 10px 25%;
  border: 1px solid var(--color-darker);
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);

}

.modal-content {
  margin: 4% auto;
  display: block;
  max-width: 90%;
  max-height: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close {
  color: white;
  border-radius: 10px;
  padding: 0 .5rem 0 .5rem;
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.caption {
  text-align: center;
  margin-top: 10px;
  color: white;
  background-color: var(--color-darker);
  padding: 5px;
  font-size: 0.6rem;
}

#caption {
  position: absolute;
  bottom: 3%;
}


/* Dark Mode Styles */
body.dark-mode {
  background-color: var(--color-primary-dark);
  color: var(--color-darker-dark);
}

.dark-mode .notes article section > * {
  background-color: var(--color-primary-dark);

}

.dark-mode .notes article section section > header {
  border-bottom: 1px solid var(--color-ash-dark);
}

.dark-mode .notes article section > header {
  border-bottom: 2px solid var(--color-ash-dark);
}

.dark-mode .notes article section section section > header {
  border-bottom: 1px dotted var(--color-ash-dark);
}

.dark-mode .notes header a{
  color: var(--color-darker-dark);
}

.dark-mode .outline2 .contents {
  transition: 0.2s ease-in;
  opacity: 0;
  background-color: var(--color-secondary-dark);
  color: var(--color-darker-dark);
  border-radius: 7px;
  line-height: 2;
}

.dark-mode .outline2 .contents a{
  color: var(--color-darker-dark);
}

.dark-mode .outline2 label[for^=show] {
  background: var(--color-secondary-dark);
  color: var(--color-darker-dark);
}

.dark-mode .outline2 label[for^=hide] {
  background: var(--color-secondary-dark);
  color: var(--color-darker-dark) ;
  display: none;
  font-weight: 600;
}

.dark-mode .note-table th {
  background-color: var(--color-secondary-dark);
}

.dark-mode .caption {
  text-align: center;
  margin-top: 10px;
  color: var(--color-darker-dark);
  background-color: var(--color-secondary-dark);
  padding: 5px;
  font-size: 0.6rem;
}